/*----------------------------------------------------------------
    Fonts
----------------------------------------------------------------*/

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PT-Sans-Regular.woff2") format("woff2"), url("../fonts/PT-Sans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT-Serif-Regular.woff2") format("woff2"), url("../fonts/PT-Serif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT-Serif-Bold.woff2") format("woff2"), url("../fonts/PT-Serif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("../fonts/PT-Serif-Italic.woff2") format("woff2"), url("../fonts/PT-Serif-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HK-Grotesk-Regular.woff2") format("woff2"), url("../fonts/HK-Grotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*----------------------------------------------------------------
    Reset Style
----------------------------------------------------------------*/

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li,
ol li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a,
a:visited {
  text-decoration: none;
}

img {
  vertical-align: top;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/*----------------------------------------------------------------
    Global
----------------------------------------------------------------*/

html,
body {
  height: 100%;
  margin: 0;
  color: #666;
  font-family: "PT Sans", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background-color: #fff;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.img-cover {
  position: relative;
}

.img-cover img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*----------------------------------------------------------------
    Forms
----------------------------------------------------------------*/

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 50px;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/*----------------------------------------------------------------
   Main Header
----------------------------------------------------------------*/

.main-header {
  position: relative;
  z-index: 999;
  padding: 0 80px;
}

.main-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  max-width: 1760px;
  margin: 0 auto;
}

.main-header__logo {
  margin-right: 35px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 35px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: block;
  color: #171717;
  font-size: 16px;
  font-family: "PT Serif", serif;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.nav__link:hover {
  color: #C9A96E;
}

.nav__link:focus {
  outline: 2px solid #C9A96E;
  outline-offset: 3px;
}

.logo {
  position: relative;
  display: block;
  color: #171717;
  font-family: "PT Serif", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo span {
  position: relative;
  z-index: 1;
}

.logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2px;
  z-index: 0;
  width: 100%;
  height: 6px;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #C9A96E;
  opacity: .35;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.logo:hover::after {
  opacity: .5;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.logo:focus {
  outline: 2px solid #C9A96E;
  outline-offset: 3px;
}

/*----------------------------------------------------------------
    Burger
----------------------------------------------------------------*/

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 14px;
  padding: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  -webkit-transition: opacity .3s, -webkit-transform .3s ease;
  transition: opacity .3s, -webkit-transform .3s ease;
  -o-transition: transform .3s ease, opacity .3s;
  transition: transform .3s ease, opacity .3s;
  transition: transform .3s ease, opacity .3s, -webkit-transform .3s ease;
  border: 0;
  outline: none;
  background-color: transparent;
}

.burger::before,
.burger:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.burger::before {
  top: -1px;
}

.burger::after {
  bottom: -1px;
}

.burger span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background-color: #000;
  border-radius: 1px;
}

.burger span:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -10px;
  right: -10px;
  bottom: -15px;
}

.burger.active span {
  opacity: 0;
}

.burger.active::before,
.burger.active:after {
  width: 70%;
}

.burger.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 7px;
}

/*----------------------------------------------------------------
    Article
----------------------------------------------------------------*/

.article {
  text-align: center;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.article--full {
  text-align: left;
}

.article--full .article__header {
  max-width: 100%;
  margin: 0 0 15px;
}

.article--full .article__comments {
  display: inline-block;
}

.article--full .article__description {
  display: block;
  max-width: 85%;
}

.article--full .article__photo {
  height: 350px;
  margin-bottom: 15px;
}

.article--full .article__content {
  padding: 25px 30px;
}

.article--long {
  grid-column: 1 / -1;
  margin-top: 30px;
}

.article--intro {
  padding-bottom: 50px;
  color: #fff;
  text-align: left;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.article--intro .article__photo {
  display: none;
}

.article--intro .article__content {
  padding: 0;
}

.article--intro .article__header {
  max-width: 635px;
  margin: 0;
}

.article--intro .article__main-link {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.article--intro .category {
  margin: 0;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.article--intro .article__comments {
  display: inline-block;
}

.article--intro .article__about {
  font-size: 14px;
}

.article--intro .article__author span {
  color: #b4b4b4;
}

.article--aside .article__photo {
  height: 160px;
}

.article--aside .article__main-link {
  font-size: 18px;
  line-height: 26px;
}

.article--aside .article__content {
  padding: 15px 20px;
}

.article__photo {
  display: block;
  height: 280px;
  overflow: hidden;
}

.article__photo:focus {
  outline: 2px solid #C9A96E;
}

.article__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.article__content {
  padding: 15px 30px;
}

.article__header {
  max-width: 290px;
  margin: 0 auto;
}

.article__titles {
  margin-bottom: 10px;
}

.article__title {
  margin: 0;
  cursor: pointer;
}

.article__title:hover .article__main-link {
  color: #C9A96E;
}

.article__main-link {
  color: #171717;
  font-family: "PT Serif", serif;
  font-size: 20px;
  line-height: 28px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.article__main-link:focus {
  outline: 2px solid #C9A96E;
  outline-offset: 3px;
}

.article__about {
  font-family: "PT Serif", serif;
  font-size: 12px;
  line-height: 16px;
}

.article__about :last-child {
  margin-right: 0;
}

.article__pub-date,
.article__author,
.article__comments {
  display: inline-block;
  color: inherit;
  margin-right: 10px;
}

.article__author {
  text-transform: capitalize;
}

.article__author span {
  color: #B1B1B1;
}

.article__comments {
  display: none;
}

.article__description {
  display: none;
  margin: 0;
}

.article__author,
.article__comments {
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.article__author:hover,
.article__comments:hover {
  color: #C9A96E;
}

.article__author:focus,
.article__comments:focus {
  outline: 2px solid #C9A96E;
  outline-offset: 3px;
}

.article .category:hover {
  text-decoration: underline;
}

.category {
  display: inline-block;
  margin-bottom: 5px;
  color: #C9A96E;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.category:focus {
  outline: 2px solid #C9A96E;
}

/*----------------------------------------------------------------
    Intro
----------------------------------------------------------------*/

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: calc(100vh - 100px);
  margin-bottom: 60px;
  background-color: #000;
}

.intro:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.68111)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.68111) 0%, rgba(0, 0, 0, 0) 50%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.68111) 0%, rgba(0, 0, 0, 0) 50%);
}

.intro__container {
  z-index: 3;
}

.intro__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

/*----------------------------------------------------------------
    Page inner 
----------------------------------------------------------------*/

.page__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-right: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/*----------------------------------------------------------------
    Aside
----------------------------------------------------------------*/

.aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
}

.aside__column:not(:last-child) {
  margin-bottom: 70px;
}

.aside__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  margin: 0 0 20px;
  padding: 10px;
  color: #171717;
  font-family: "PT Serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  border: 2px solid #f1f1f1;
}

.aside .article:not(:last-child) {
  margin-bottom: 30px;
}

/*----------------------------------------------------------------
    Author
----------------------------------------------------------------*/

.author {
  text-align: center;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.author__photo {
  display: block;
  height: 180px;
}

.author__photo:focus {
  outline: 2px solid #C9A96E;
}

.author__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.author__content {
  padding: 20px;
}

.author__titles {
  margin-bottom: 10px;
  font-family: "PT Serif";
}

.author__name {
  margin: 0 0 5px;
}

.author__link {
  color: #171717;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.author__link:hover {
  color: #C9A96E;
}

.author__link:focus {
  outline: 2px solid #C9A96E;
}

.author__subtitle {
  margin: 0;
  color: #B1B1B1;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 19px;
}

.author__about {
  margin: 0;
}

.author__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding: 10px;
  color: #C9A96E;
  font-family: "PT Serif";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-top: 1px solid #E5E5E5;
  -webkit-transition: color .3s, background .3s;
  -o-transition: color .3s, background .3s;
  transition: color .3s, background .3s;
}

.author__more:hover {
  color: #fff;
  background-color: #C9A96E;
}

.author__more:focus {
  outline: 2px solid #C9A96E;
}

/*----------------------------------------------------------------
    Catagories
----------------------------------------------------------------*/

.cat-list {
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.cat-list__row {
  border-top: 1px solid #E5E5E5;
}

.cat-list__row:first-child {
  border-top: none;
}

.cat-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 0;
  color: inherit;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.cat-list__link:hover {
  color: #C9A96E;
}

.cat-list__link:focus {
  outline: 2px solid #C9A96E;
}

/*----------------------------------------------------------------
    Social
----------------------------------------------------------------*/

.social__list {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  grid-auto-rows: 88px;
}

.social__item {
  background-color: #F8F9FA;
  -webkit-transition: background .3s, -webkit-box-shadow .3s;
  transition: background .3s, -webkit-box-shadow .3s;
  -o-transition: background .3s, box-shadow .3s;
  transition: background .3s, box-shadow .3s;
  transition: background .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.social__item:hover {
  background-color: #f8f9fa09;
  -webkit-box-shadow: 0 0 2px #999;
          box-shadow: 0 0 2px #999;
}

.social__icon {
  margin-bottom: 5px;
  fill: #5a5a5a;
}

.social__lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 17px 10px 10px;
  color: #999;
  font-family: "PT Sans";
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.social__lk:focus {
  outline: 2px solid #C9A96E;
}

@media (min-width: 768px) {
  .btn:hover,
  .btn:focus {
    -webkit-box-shadow: 0 0 10px #999;
            box-shadow: 0 0 10px #999;
  }
}

@media (max-width: 1440px) {
  .main-header {
    padding: 0 40px;
  }

  .main-header__inner {
    height: 70px;
  }

  .intro {
    min-height: calc(100vh - 70px);
  }
}

@media (max-width: 768px) {
  .main-header__nav {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .5s, visibility .3s;
    -o-transition: opacity .5s, visibility .3s;
    transition: opacity .5s, visibility .3s;
    background-color: #fff;
  }

  .main-header__nav.active {
    visibility: visible;
    opacity: 1;
  }

  .main-header__nav .nav__list {
    padding: 10px 0;
  }

  .main-header__nav .nav__item {
    margin: 0 auto;
  }

  .main-header__nav .nav__link {
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 575px) {
  .main-header {
    padding: 0 15px;
  }

  .main-header__inner {
    height: 60px;
  }

  .main-header__nav {
    top: 60px;
  }

  .intro {
    min-height: 600px;
  }
}

@media (max-width: 420px) {
  .article--intro .article__main-link {
    font-size: 35px;
    line-height: 45px;
  }
}

@media (max-width: 768px) and (min-width: 575px) {
  .main-header__nav .nav__list {
    padding: 10px 25px;
  }
}